.btn-inline {
    border: none;
    color: c(primary);
    font-size: inherit;
    border-bottom: solid .1rem currentColor;
    padding-bottom: .2rem;
    background: transparent;
    cursor: pointer;
    transition: all .2s;
    display: inline-block;

    span {
        margin-left: .3rem;
        transition: margin-left .2s;
    }

    &:hover {
        color: c(grey-dark-1);

        span {
            margin-left: .8rem;
        }
    }
}