body {
    background: $gradientBG;
    background-repeat: no-repeat;

    ::selection {
        background: c(primary);
        color: white;
    }
}

.container {
    min-height: 50rem;
    max-width: 120rem;
    margin: 8rem auto;
    background: c(grey-light-1);
    box-shadow: $shadow;
}

.content {
    display: flex;
    background: white;
}